* { box-sizing: border-box; font-family: "Arial", sans-serif}

.form-holder {
	border: 1px solid black;	
	max-width: 320px;
	padding: 0px 20px 20px 20px;
	font-size: 12px!important;
}

label, input {
	display: inline-block;
}